@font-face {
font-family: 'Open Sans';
src: url('../font/OpenSans/OpenSans-Regular.eot?') format('eot'),
     url('../font/OpenSans/OpenSans-Regular.otf') format('truetype'),
     url('../font/OpenSans/OpenSans-Regular.woff') format('woff'),
     url('../font/OpenSans/OpenSans-Regular.svg#OpenSansBold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Antique Olive Standard Compact';
src: url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.eot?') format('eot'),
     url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.otf') format('truetype'),
     url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.woff') format('woff'),
     url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.svg#AntiqueOliveStandardCompactBold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Antique Olive Roman';
src: url('../font/AntiqueOliveRoman/antiqueolivestd_roman.eot?') format('eot'),
     url('../font/AntiqueOliveRoman/AntiqueOliveStd-Roman.otf') format('truetype'),
     url('../font/AntiqueOliveRoman/AntiqueOliveStd-Roman.woff') format('woff'),
     url('../font/AntiqueOliveRoman/AntiqueOliveStd-Roman.svg#AntiqueOliveStandardCompactBold') format('svg');
font-weight: normal;
font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #222c4f;
  color: white;
}

#container {
  display: inline-block;
}

#left-container {
  display: inline-block;
  width: 24%;
  padding: 15px;
  margin: auto;
}

#sections {
  z-index: 1;
}

/* La valeur qu'il faut pour scroller convenablement */
section {
  margin-bottom: 870px;
}

section > h1 {
  font-family: 'Antique Olive Standard Compact', Arial, sans-serif;
}

section > p.texte {
  font-family: 'Antique Olive Roman', Arial, sans-serif;
}

section > p.appel {
  font-family: 'Antique Olive Roman', Arial, sans-serif;
  font-style: italic;
}

#sec0 {
  margin-top: 300px;
}

#fixpart {
  position: fixed;
  z-index: 1;
  display: inline-block;
  width: 75%;
  margin: auto;
  height: 100%;
}

#vue {
  padding: 5px;
  height: 100%;
}

#answers {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  background-color: #222c4f;
  height: 35%;
  width: 24%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
}

#answers p {
  padding: 3px;
  margin: 0px;
  font-size: 14px;
  color: rgb(186, 186, 186);
  white-space: nowrap;
}

#answers p.small {
  margin-top: 15px;
  width: 100px;
}

#answers > p > a {
  text-decoration: none;
  color: rgb(186, 186, 186);;
}

#answers > p > span {
  box-sizing: content-box;
  border: solid rgb(45, 82, 252) 1px;
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  height: 14px;
  margin-bottom: -3px;
  display: inline-block;
  overflow: hidden;
}

#answers > p.nom {
  display: none;
}

#answers > p.country {
  display: none;
}

#answers > p.secteur {
  display: none;
}

#answers > p.type {
  display: none;
}

#answers > p.position {
  display: none;
}

#answers > p.theme {
  display: none;
}

#answers > p.fonction {
  display: none;
}

span.nom {
  width: 240px;
}

span.country {
  width: 247px;
}

span.secteur {
  width: 214px;
}

span.type {
  width: 197px;
}

span.position {
  width: 275px;
}

span.theme {
  width: 196px;
}

span.fonction {
  width: 271px;
}