* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: rgb(0, 6, 35);
	color: white;
}

#container {
	display: inline-block;
}

#sections {
	display: inline-block;
	z-index: 1;
	width: 34%;
	padding: 15px;
	margin: auto;
}

/* La valeur qu'il faut pour scroller convenablement */
section {
	margin-bottom: 800px;
}

#sec0 {
	margin-top: 300px;
}

#fixpart {
	position: fixed;
	z-index: 1;
	display: inline-block;
	width: 65%;
	margin: auto;
	height: 100%;
}

#vue {
	padding: 5px;
	height: 85%;
}

#answers {
	height: 14%;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: space-around;
}

#answers p {
	width: 49%;
	padding: 3px;
	margin: 0px;
	font-size: 17px;
}

#reloadbox {
	position: fixed;
	z-index: 10;
	background-color: rgb(191, 191, 191);
	border: solid black 2px;
	border-radius: 10px;
	padding: 3px;
	text-align: center;
	width: 180px;
	right: 50px;
	top: 40px;
	font-weight: bold;
	font-size: 25px;
	color: black;
}

#reloadbox:hover {
	background-color: orange;
	cursor: pointer;
}