@font-face {
font-family: 'Open Sans';
src: url('../font/OpenSans/OpenSans-Regular.eot?') format('eot'),
     url('../font/OpenSans/OpenSans-Regular.otf') format('truetype'),
     url('../font/OpenSans/OpenSans-Regular.woff') format('woff'),
     url('../font/OpenSans/OpenSans-Regular.svg#OpenSansBold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Open Sans Bold';
src: url('../font/OpenSansBold/OpenSans-Bold.eot?') format('eot'),
     url('../font/OpenSansBold/OpenSans-Bold.otf') format('truetype'),
     url('../font/OpenSansBold/OpenSans-Bold.woff') format('woff'),
     url('../font/OpenSansBold/OpenSans-Bold.svg#OpenSansBold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Open Sans Italic';
src: url('../font/OpenSansItalic/OpenSans-Italic.eot?') format('eot'),
     url('../font/OpenSansItalic/OpenSans-Italic.otf') format('truetype'),
     url('../font/OpenSansItalic/OpenSans-Italic.woff') format('woff'),
     url('../font/OpenSansItalic/OpenSans-Italic.svg#OpenSansBold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Antique Olive Standard Compact';
src: url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.eot?') format('eot'),
     url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.otf') format('truetype'),
     url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.woff') format('woff'),
     url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.svg#AntiqueOliveStandardCompactBold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Antique Olive Roman';
src: url('../font/AntiqueOliveRoman/antiqueolivestd_roman.eot?') format('eot'),
     url('../font/AntiqueOliveRoman/AntiqueOliveStd-Roman.otf') format('truetype'),
     url('../font/AntiqueOliveRoman/AntiqueOliveStd-Roman.woff') format('woff'),
     url('../font/AntiqueOliveRoman/AntiqueOliveStd-Roman.svg#AntiqueOliveStandardCompactBold') format('svg');
font-weight: normal;
font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #222c4f;
  color: white;
}

#container {
  display: inline-block;
}

#left-container {
  display: inline-block;
  width: 20%;
  padding: 15px;
  margin: auto;
}

#sections {
  z-index: 1;
}

/* La valeur qu'il faut pour scroller convenablement */
section {
  margin-bottom: 870px;
}

section > h1 {
  font-family: 'Antique Olive Standard Compact', Arial, sans-serif;
}

section > p.texte {
  font-family: 'Antique Olive Roman', Arial, sans-serif;
}

section > p.appel {
  font-family: 'Antique Olive Roman', Arial, sans-serif;
  font-style: italic;
}

#sec0 {
  margin-top: 300px;
}

#fixpart {
  position: fixed;
  z-index: 1;
  display: inline-block;
  width: 79%;
  margin: auto;
  height: 100%;
}

#vue {
  padding: 5px;
  height: 100%;
}

#answers {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  background-color: #222c4f;
  height: auto;
  width: 20%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  display: none;
  width: 100%;
}

th, td {
  font-size: 14px;
  color: rgb(186, 186, 186);
  padding: 2px;
}

th {
  border: solid rgb(45, 82, 252) 1px;
  border-left: none;
  width: 25%;
}

td {
  border: solid rgb(45, 82, 252) 1px;
  border-right: none;
  width: 100%;
  padding-left: 6px;
  overflow: hidden;
}

#answers p {
  padding: 3px;
  margin: 0px;
  font-size: 14px;
  color: rgb(186, 186, 186);
  white-space: nowrap;
}

#answers p.small {
  margin-top: 15px;
  width: 80px;
}

#answers > p > a {
  text-decoration: none;
  color: rgb(186, 186, 186);;
}

#answers > p > span {
  box-sizing: content-box;
  border: solid rgb(45, 82, 252) 1px;
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  height: 14px;
  margin-bottom: -3px;
  display: inline-block;
  overflow: hidden;
}

#answers > p.nom {
  display: none;
}

#answers > p.country {
  display: none;
}

#answers > p.secteur {
  display: none;
}

#answers > p.type {
  display: none;
}

#answers > p.position {
  display: none;
}

#answers > p.theme {
  display: none;
}

#answers > p.fonction {
  display: none;
}

span.nom {
  width: 240px;
}

span.country {
  width: 247px;
}

span.secteur {
  width: 214px;
}

span.type {
  width: 197px;
}

span.position {
  width: 275px;
}

span.theme {
  width: 196px;
}

span.fonction {
  width: 271px;
}

#credits {
  display: none;
  position: fixed;
  background-color: rgba(50,50,50,0.95);
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 10;
  padding: 10px;
}

#credits > #closecredits {
  position: fixed;
  top: 10%;
  right: 15%;
  background-color: rgb(191,191,191);
  border: solid black 2px;
  border-radius: 10px;
  padding: 5px;
  color: black;
  font-weight: bold;
}

#credits > #closecredits:hover {
  background-color: red;
  cursor: pointer;
}

p#opencredits:hover {
  cursor: pointer;
}

#credits > h1 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}

#credits > p {
  text-align: justify;
}

#credits > p > em {
  font-style: italic;
}

#credits > p > a {
  color: inherit;
}

#credits > p > a:hover {
  color: inherit;
}

#credits > p > a:visited {
  color: inherit;
}

#credits > img {
  display: block;
  margin: auto;
}