svg text {
  fill: rgb(22, 27, 48);
  font-family: 'Open Sans';
}

svg foreignObject {
  pointer-events: none;
}

svg foreignObject.arctext > p {
  color: rgb(22, 27, 48);
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bold;
  margin: 1px;
}

svg g.BADGE > text {
  fill: #111627;
  font-size: 25px;
}

svg.Initfig text.titre {
  font-family: 'Antique Olive Standard Compact', Arial, sans-serif;
  fill: #111627;
  font-size: 20px;
}

svg.Initfig text.texte {
  font-family: 'Open Sans', Arial, sans-serif;
  fill: #111627;
  font-size: 15px;
}

svg.BADGE rect {
  fill: rgb(0,255,165);
}

svg.BADGE tspan {
  fill: #111627;
  font-size: 18px;
  font-weight: bold;
  text-anchor: middle;
}

svg text.scroll {
  fill: rgba(76, 144, 255, 0.6);
  font-weight: bolder;
  font-family: 'Antique Olive Standard Compact', Arial, sans-serif;
}

svg g text {
  font-weight: bold;
  font-size: 15px;
}

svg g > foreignObject.arctext {
  overflow: visible;
}

svg foreignObject.cartouche {
  pointer-events: none;
}

svg foreignObject.cartouche > h1 {
  background-color: rgba(50,50,50,0.6);
  font-size: 15px;
  margin: auto;
  color: white;
  padding: 2px;
}

svg foreignObject.cartouche > p {
  background-color: rgba(50,50,50,0.6);
  font-size: 9px;
  color: white;
  margin: auto;
  padding: 5px;
}

img.information {
  height: 18px;
  width: 18px;
  pointer-events: auto;
}

#vue svg {
  overflow: visible;
}

svg g.result > text> tspan.mainname {
  font-family: 'Antique Olive Standard Compact';
  font-size: 28px;
}

svg g.result > text > tspan.fullname {
  font-family: 'Antique Olive Standard Compact';
  font-size: 10px;
}

svg g.result > text > tspan.paragtitle {
  font-family: 'Antique Olive Standard Compact';
  font-size: 18px;
}

svg g.result > text > tspan.item {
  font-family: 'Antique Olive Roman';
  font-size: 10px;
}

.linktext {
  fill: #111627;
  font-size: 20px;
}

.linktext:hover {
  fill: #111627;
  text-decoration: none;
}

.linktext:visited {
  fill: #111627;
  text-decoration: none;
}

svg g.result rect {
  fill: rgb(0,255,165);
}

svg g.result tspan.linktext {
  text-anchor: middle;
}