@font-face {
font-family: 'Open Sans';
src: url('../font/OpenSans/OpenSans-Regular.eot?') format('eot'),
     url('../font/OpenSans/OpenSans-Regular.otf') format('truetype'),
     url('../font/OpenSans/OpenSans-Regular.woff') format('woff'),
     url('../font/OpenSans/OpenSans-Regular.svg#OpenSansBold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Antique Olive Standard Compact';
src: url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.eot?') format('eot'),
     url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.otf') format('truetype'),
     url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.woff') format('woff'),
     url('../font/AntiqueOliveStdCompact/AntiqueOliveStd-Compact.svg#AntiqueOliveStandardCompactBold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Antique Olive Roman';
src: url('../font/AntiqueOliveRoman/antiqueolivestd_roman.eot?') format('eot'),
     url('../font/AntiqueOliveRoman/AntiqueOliveStd-Roman.otf') format('truetype'),
     url('../font/AntiqueOliveRoman/AntiqueOliveStd-Roman.woff') format('woff'),
     url('../font/AntiqueOliveRoman/AntiqueOliveStd-Roman.svg#AntiqueOliveStandardCompactBold') format('svg');
font-weight: normal;
font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  /*Attention cette valeur est utilisée sans récupération dans le JS*/
  /*Fond initial*/
  background-color: #222c4f; 
  color: white;
}

p {
  font-size: 15px;
}

#container {
  display: inline-block;
}

#left-container {
  display: inline-block;
  width: 24%;
  padding: 15px;
  margin: auto;
}

#sections {
  z-index: 1;
}

/* La valeur qu'il faut pour scroller convenablement */
section {
  margin-bottom: 800px;
}

section > h1 {
  font-family: 'Antique Olive Standard Compact', Arial, sans-serif;
}

section > p.texte {
  font-family: 'Antique Olive Roman', Arial, sans-serif;
}

section > p.appel {
  font-family: 'Antique Olive Roman', Arial, sans-serif;
  font-style: italic;
}

#sec0 {
  margin-top: 300px;
}

#fixpart {
  position: fixed;
  z-index: 1;
  display: inline-block;
  width: 75%;
  margin: auto;
  height: 100%;
}

#vue {
  padding: 5px;
  height: 100%;
}

#answers {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  background-color: #222c4f;
  height: 40%;
  width: 24%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
}

#answers p {
  padding: 3px;
  margin: 0px;
  font-size: 14px;
  color: rgb(186, 186, 186);
  white-space: nowrap;
}

#answers p.small {
  margin-top: 15px;
  width: 100px;
}

#answers > p > a {
  text-decoration: none;
  color: rgb(186, 186, 186);;
}

#answers > p > span {
  box-sizing: content-box;
  border: solid rgb(45, 82, 252) 1px;
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  height: 14px;
  margin-bottom: -3px;
  display: inline-block;
  overflow: hidden;
}

span.nom {
  width: 240px;
}

span.country {
  width: 247px;
}

span.secteur {
  width: 214px;
}

span.type {
  width: 197px;
}

span.position {
  width: 275px;
}

span.theme {
  width: 196px;
}

span.fonction {
  width: 271px;
}

section > p.appel > div.blocfin > img {
  float: left;
  margin: 3px;
}

div.menu {
  display: none;
  z-index: 4;
}

div.menu > img {
  margin: 5px;
  cursor: pointer;
}

a#backloby {
  display: none;
  position: fixed;
  z-index: 10;
  background-color: rgb(191, 191, 191);
  border: solid black 2px;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  width: 140px;
  right: 31px;
  top: 60px;
  font-weight: bold;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

a#backloby:hover {
  background-color: green;
  cursor: pointer;
}

#links {
  display: none;
  position: fixed;
  top: 30%;
  left: 40%;
  width: 30%;
  background-color: rgba(0, 5, 15, 0.5); 
}

#links p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#links a {
  z-index: 10;
  background-color: rgb(191, 191, 191);
  border: solid black 2px;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  width: 45%;
  font-weight: bold;
  font-size: 15px;
  color: black;
  text-decoration: none;
  margin: 8px;
}

#links a:hover {
  background-color: green;
  cursor: pointer;
}

#boxes-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-arround;
}

#reloadbox {
  position: fixed;
  z-index: 10;
  background-color: rgb(191, 191, 191);
  border: solid black 2px;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  width: 140px;
  right: 31px;
  top: 25px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#reloadbox:hover {
  background-color: orange;
  cursor: pointer;
}