svg > text.membranetext > tspan.name {
  fill: white;
  font-size: 8px;
  font-weight: bold;
  pointer-events: none;
}

svg > text.lobbytext > tspan {
  fill: white;
  font-size: 11px;
  font-weight: bold;
  pointer-events: none;
}

g.link-affiliation {
  pointer-events: none;
}